@page "/medicines/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Medicines</h3>
<hr />
<br />


<FormComponent ButtonText="Create Medicine" medicine="medicine"
               OnValidSubmit="@CreateMedicine" />
@code {
    Medicine medicine = new Medicine();

    private IList<Medicine>? Medicines;

    protected async override Task OnInitializedAsync()
    {
        Medicines = await _client.GetFromJsonAsync<List<Medicine>>($"{Endpoints.MedicinesEndPoint}");
    }

    private async Task CreateMedicine()
    {
        await _client.PostAsJsonAsync(Endpoints.MedicinesEndPoint, medicine);
        _navManager.NavigateTo("/medicines/");
    }

    
}
