@page "/branchs/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Branches</h3>
<hr />
<br />

<FormComponent ButtonText="Create Branch" branch="branch"
               OnValidSubmit="@CreateBranch" />
@code {
    Branch branch = new Branch();
    private IList<Staff>? Staffs;
    private IList<Branch>? Branchs;

    protected async override Task OnInitializedAsync()
    {
        Branchs = await _client.GetFromJsonAsync<List<Branch>>($"{Endpoints.BranchsEndPoint}");
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndPoint}");
    }

    private async Task CreateBranch()
    {
        await _client.PostAsJsonAsync(Endpoints.BranchsEndPoint, branch);
        _navManager.NavigateTo("/branchs/");
    }


}
