@page "/orders/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Order</h3>
<link href="css/index.css" rel="stylesheet" />

<hr />
<br />

<FormComponent ButtonText="Create Order" order="order"
               OnValidSubmit="@CreateOrder" />
     

@code {
    Order order = new Order();
    private int selectedMedicineId;
    private IList<Customer>? Customers;
    private IList<Medicine>? Medicines; 
    private IList<Branch>? Branchs;

    protected async override Task OnInitializedAsync()
    {
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndPoint}");
        Medicines = await _client.GetFromJsonAsync<List<Medicine>>($"{Endpoints.MedicinesEndPoint}");
        Branchs = await _client.GetFromJsonAsync<List<Branch>>($"{Endpoints.BranchsEndPoint}");
    }

    
    private async Task CreateOrder()
    {
        await _client.PostAsJsonAsync(Endpoints.OrdersEndPoint, order);
        _navManager.NavigateTo("/orders/");
    }
    
}