@page "/cart"
@inject MedicineInc.Shared.Domain.CartService cartservice

<h1>Your Shopping Cart</h1>
<link rel="stylesheet" href="css/cart.css">

@if (cartService.CartItems.Any())
{
    <div class="cart-container">
        <ul class="cart-items">
            @foreach (var item in cartService.CartItems)
            {
                <li class="cart-item">
                    <img src="@item.ImageUrl" alt="@item.MediName" class="medicine-image">
                    <div class="medicine-details">
                        <h2>@item.MediName</h2>
                        <p>Price: $@item.Price</p>
                        <p>Quantity: @item.Count</p>
                    </div>
                </li>
            }
        </ul>
    </div>
}
else
{
    <p>Your cart is empty.</p>
}

<footer>
    <p>&copy; 2024 Online Pharmacy</p>
</footer>

@code {
    [Inject]
    MedicineInc.Shared.Domain.CartService cartService { get; set; }
}
