@page "/cart"
@inject IJSRuntime js
@inject HttpClient _client
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject CartService CartService


<h1>Your Shopping Cart</h1>
<link href="css/cart.css" rel="stylesheet">

@if (Carts != null && Carts.Count > 0)
{
    <div class="cart-container">
        <ul class="cart-items">
            @foreach (var cart in Carts.Where(c => c.CustomerId == CurrentCustomerId))
            {
                foreach (var cartItem in cart.CartItems)
                {
                    <li class="cart-item">
                        <img src="@cartItem.ImageRef" alt="@cartItem.MediName" class="product-image">
                        <div class="medicine-details">
                            <h2>@cartItem.MediName</h2>
                            <p>Price: $@cartItem.Price</p>
                            <p>Quantity: @cartItem.Count</p>
                            <button @onclick='() => RemoveFromCart(cartItem.Id)'>Remove from Cart</button>
                        </div>
                    </li>
                }
            }
        </ul>
        <button @onclick='ClearCart'>Clear Cart</button>
    </div>
}
else
{
    <p>Your cart is empty.</p>
}

<footer>
    <p>&copy; 2024 Online Pharmacy</p>
</footer>

@code {
    private IList<Cart>? Carts;
    private int CurrentCustomerId;

    protected override async Task OnInitializedAsync()
    {
        await LoadCarts();
        CurrentCustomerId = await GetCurrentCustomerId();
    }

    private async Task LoadCarts()
    {
        if (CurrentCustomerId != 0)
        {
            // Use CartService to retrieve carts
            Carts = await CartService.GetCartsAsync();
        }
    }

    private async Task<int> GetCurrentCustomerId()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var customerIdClaim = user.FindFirst("customerId");

        if (customerIdClaim != null && int.TryParse(customerIdClaim.Value, out var customerId))
        {
            return customerId;
        }

        return 0;
    }

    private async Task RemoveFromCart(int medicineId)
    {
        // Use CartService to remove items from the cart
        await CartService.RemoveFromCartAsync(CurrentCustomerId, medicineId);
        await LoadCarts();
    }

    private async Task ClearCart()
    {
        // Use CartService to clear the cart
        await CartService.ClearCartAsync(CurrentCustomerId);
        await LoadCarts();
    }
}
