@page "/cart"

<h1>Your Shopping Cart</h1>
<link rel="stylesheet" href="css/cart.css">

@if (CartService.CartItems.Any())
{
    <div class="cart-container">
        <ul class="cart-items">
            @foreach (var item in CartService.CartItems)
            {
                <li class="cart-item">
                    <img src="@item.ImageRef" alt="@item.MediName" class="product-image">
                    <div class="medicine-details">
                        <h2>@item.MediName</h2>
                        <p>Price: $@item.Price</p>
                        <p>Quantity: @item.Count</p>
                        <button @onclick='() => RemoveFromCart(item)'>Remove from Cart</button>
                    </div>
                </li>
            }

            <button @onclick='() => ClearCart()'>Clear Cart</button>
        </ul>
    </div>
}
else
{
    <p>Your cart is empty.</p>
}

<footer>
    <p>&copy; 2024 Online Pharmacy</p>
</footer>

@code {
    [Inject]
    private CartService CartService { get; set; }

    private void ClearCart()
    {
        CartService.ClearCart();
    }
    private void RemoveFromCart(Medicine product)
    {
        CartService.RemoveFromCart(product);
    }
}
