@page "/"
@using MedicineInc.Client.Services
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<PageTitle>Index</PageTitle>
<h1>Featured Items!</h1>
<link href="css/index.css" rel="stylesheet" />

<div class="products-container">
    @if (Medicines != null)
    {
        @foreach (var item in Medicines)
        {
            <div class="product">
                <img src="@item.ImageRef" alt="@item.MediName" class="product-image">
                <div class="medicine-details">
                    <h2>@item.MediName</h2>
                    <p>Price: $@item.Price</p>
                    <button @onclick='() => AddToCart(item)'>Add to Cart</button>
                </div>
            </div>
        }
    }
    else
    {
        <div class= "product">
            <h2>There are no featured items today!</h2>
        </div>
    }

</div>

<footer>
    <p>&copy; 2024 Online Pharmacy</p>
</footer>

@code {
    private List<Medicine>? Medicines;

    protected override async Task OnInitializedAsync()
    {
        await LoadMedicines();
    }

    private async Task LoadMedicines()
    {
        Medicines = await _client.GetFromJsonAsync<List<Medicine>>($"{Endpoints.MedicinesEndPoint}");
    }

    // async Task Delete(int medicineId)
    // {
    //     if (Medicines != null)
    //     {
    //         var medicine = Medicines.First(q => q.Id == medicineId);
    //         var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {medicine.MediName}?");
    //         if (confirm)
    //         {
    //             await _client.DeleteAsync($"{Endpoints.MedicinesEndPoint}/{medicineId}");
    //             await LoadMedicines(); // Refresh the medicine list
    //         }
    //     }
    // }

    [Inject]
    private CartService CartService { get; set; }

    void AddToCart(Medicine medicine)
    {
        var existingMedicine = CartService.CartItems.FirstOrDefault(item => item.Id == medicine.Id);

        if (existingMedicine != null)
        {
            existingMedicine.Count++;
            Console.WriteLine($"Quantity of {existingMedicine.MediName} increased to {existingMedicine.Count} in cart!");
        }
        else
        {
            CartService.AddToCart(new Medicine
                {
                    Id = medicine.Id,
                    MediName = medicine.MediName,
                    Price = medicine.Price,
                    Count = 1,
                    Usage = medicine.Usage,
                    ImageRef = medicine.ImageRef
                });

            Console.WriteLine($"{medicine.MediName} added to cart!");
        }
    }
}
