@page "/"
@inject HttpClient _client
@inject IJSRuntime js
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject CartService CartService


<PageTitle>Index</PageTitle>
<h1>Featured Items!</h1>
<link href="css/index.css" rel="stylesheet" />

<div class="products-container">
    @if (Medicines != null && Medicines.Any())
    {
        @foreach (var item in Medicines.Where(q => q.feat == true).Take(4))
        {
            <div class="product">
                <img src="@item.ImageRef" alt="@item.MediName" class="product-image">
                <div class="medicine-details">
                    <h2>@item.MediName</h2>
                    <p>Price: $@item.Price</p>
                    <button @onclick='() => AddToCart(item.Id)'>Add to Cart</button>
                </div>
            </div>
        }
    }
    else
    {
        <div class="product">
            <h2>There are no featured items today!</h2>
        </div>
    }
</div>
<a href="/staffs/create" class="btn btn-secondary">
    <span class="oi oi plus"></span>
    Create New Staff
</a>
<br />
<br />



<footer>
    <p>&copy; 2024 Online Pharmacy</p>
</footer>

@code {
    private IList<Medicine>? Medicines;
    private IList<Cart>? Carts;
    private int CurrentCustomerId;

    protected override async Task OnInitializedAsync()
    {
        await LoadMedicines();
        await LoadCarts();
        CurrentCustomerId = await GetCurrentCustomerId();
    }

    private async Task LoadMedicines()
    {
        Medicines = await _client.GetFromJsonAsync<List<Medicine>>($"{Endpoints.MedicinesEndPoint}");
    }

    private async Task LoadCarts()
    {
        if (CurrentCustomerId != 0)
        {
            Carts = await CartService.GetCartsAsync();
        }
    }

    private async Task AddToCart(int medicineId)
    {
        await CartService.AddToCartAsync(CurrentCustomerId, Medicines.FirstOrDefault(m => m.Id == medicineId), 1);
        await LoadCarts();
    }

    private async Task<int> GetCurrentCustomerId()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var customerIdClaim = user.FindFirst("customerId");

        if (customerIdClaim != null && int.TryParse(customerIdClaim.Value, out var customerId))
        {
            return customerId;
        }

        return 0;
    }
}
