@page "/"

<PageTitle>Index</PageTitle>
<h1>Featured Items!</h1>
<link href="css/index.css" rel="stylesheet" />
<div class="products-container">
    <div class="product">
        <img src="images/Glucosamine.jpg" />
        <ul>
            <li>Best Vitamins to stay healthy</li>
            <li>Price: $10.99</li>
            <button @onclick='() => AddToCart(new Medicine {
                Id = 1,
                MediName = "Glucosamine",
                Usage = "Best Vitamins to stay healthy",
                Price = 10.99,
                ImageRef = "images/Glucosamine.jpg"
            })'>
                Add to Cart
            </button>
        </ul>
    </div>
    <div class="product">
        <img src="images/panadol.jpg" />
        <ul>
            <li>Most Popular Item for Cold and Fever</li>
            <li>Price: $5.99</li>
            <button @onclick='() => AddToCart(new Medicine {
                Id = 2,
                MediName = "Panadol",
                Usage = "Most Popular Item for Cold and Fever",
                Price = 5.99,
                ImageRef = "images/panadol.jpg"
            })'>
                Add to Cart
            </button>
        </ul>
    </div>
    <div class="product">
        <img src="images/bandaids.jpg" />
        <ul>
            <li>For any and all injuries</li>
            <li>Price: $7.50</li>
            <button @onclick='() => AddToCart(new Medicine {
                Id = 3,
                MediName = "Bandaids",
                Usage = "For any and all injuries",
                Price = 7.50,
                ImageRef = "images/bandaids.jpg"
            })'>
                Add to Cart
            </button>
        </ul>
    </div>
</div>

<footer>
    <p>&copy; 2024 Online Pharmacy</p>
</footer>

@code {
    [Inject]
    private CartService CartService { get; set; }

    void AddToCart(Medicine medicine)
    {
        var existingMedicine = CartService.CartItems.FirstOrDefault(item => item.Id == medicine.Id);

        if (existingMedicine != null)
        {
            existingMedicine.Count++;
            Console.WriteLine($"Quantity of {existingMedicine.MediName} increased to {existingMedicine.Count} in cart!");
        }
        else
        {
            CartService.AddToCart(new Medicine
                {
                    Id = medicine.Id,
                    MediName = medicine.MediName,
                    Price = medicine.Price,
                    Count = 1,
                    Usage = medicine.Usage,
                    ImageRef = medicine.ImageRef
                });

            Console.WriteLine($"{medicine.MediName} added to cart!");
        }
    }
}
