@page "/"

<PageTitle>Index</PageTitle>
<h1>Home page!</h1>


<div> 
    <div class="product">
        <img src="images/Glucosamine.jpg" width="300", height="300"/>
        <ul>Best Vitamins to stay healthy</ul>

    </div>

    <div>
        <img src="images/panadol.jpg" width="300", height="300"/>
        <ul>Most Popular Item for Cold and Fever</ul>
    </div>
        
    <div>
        <img src="images/bandaids.jpg" width="300" , height="300" />
        <ul>For your child's injuries</ul>
    </div>

    <div>
        <img src="images/strepsils.jpg" width="300" , height="300" />
        <ul>To soothe your sore throat</ul>
    </div>
 
</div>

