@page "/"

<PageTitle>Index</PageTitle>
<h1 >Featured Items!</h1>
<link href = "css/index.css" rel ="stylesheet"/>
<div class="products-container">
    <div class="product">
        <img src="images/Glucosamine.jpg"/>
        <ul><li>Best Vitamins to stay healthy</li></ul>
    </div>

    <div class="product">
        <img src="images/panadol.jpg"/>
        <ul><li>Most Popular Item for Cold and Fever</li></ul>
    </div>

    <div class="product">
        <img src="images/bandaids.jpg"/>
        <ul><li>For your child's injuries</li></ul>
    </div>

    <div class="product">
        <img src="images/strepsils.jpg"/>
        <ul><li>To soothe your sore throat</li></ul>
    </div>
</div>
<footer>
    <p>&copy; 2024 Online Pharmacy</p>
</footer>

@code {
    [Inject]
    private MedicineInc.Client.Class.CartService cartService { get; set; }

    private void AddToCart(MedicineInc.Client.Class.Product product)
    {
        cartService.AddToCart(product);
    }
}