@page "/staffs/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Staff</h3>
<hr />
<br />

<FormComponent ButtonText="Create Staff" staff="staff"
               OnValidSubmit="@CreateStaff" />

@code {
    Staff staff = new Staff();

    private IList<Staff>? Staffs;
    private IList<Branch>? Branchs;

    protected async override Task OnInitializedAsync()
    {
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndPoint}");
        Branchs = await _client.GetFromJsonAsync<List<Branch>>($"{Endpoints.BranchsEndPoint}");
    }

    private async Task CreateStaff()
    {
        await _client.PostAsJsonAsync(Endpoints.StaffsEndPoint, staff);
        _navManager.NavigateTo("/staffs/");
    }
}
