.medicines {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    grid-gap: 20px;
}

.medicine {
    border: 2px solid #3498db;
    padding: 15px;
    background-color: #f8f8f8;
    text-align: center;
}

.medicine img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 15px;
}

.medicine button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 6px;
}

.medicine button:hover {
    background-color: #c0392b;
}
